body {
  background: rgb(42, 40, 42);
}
.container {
  max-width: 1536px;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
}
.outer_grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0,1fr));
  row-gap: 4em;
}
.inner_grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0,1fr));
  grid-template-rows: repeat(1, minmax(600px,1fr));
  column-gap: 5em;
}
.grid {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.grid * {
  background-size: cover !important;
  border-radius: 10px;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, .1);
  width: 100%;
  height: 35em;
}
.grid .img1 {
  background-image: url(./source/img/webp/img1.webp);
  background-repeat: no-repeat;
  background-position: center;
}
.grid .img2 {
  background-image: url(./source/img/webp/img2.webp);
  background-repeat: no-repeat;
  background-position: center;
}

.grid .img3 {
  background-image: url(./source/img/webp/img3.webp);
  background-repeat: no-repeat;
  background-position: center;
}

.grid .img4 {
  background-image: url(./source/img/webp/img4.webp);
  background-repeat: no-repeat;
  background-position: center;
}

.grid .img5 {
  background-image: url(./source/img/webp/img5.webp);
  background-repeat: no-repeat;
  background-position: center;
}

.grid .img6 {
  background-image: url(./source/img/webp/img6.webp);
  background-repeat: no-repeat;
  background-position: center;
}

.grid .img7 {
  background-image: url(./source/img/webp/img7.webp);
  background-repeat: no-repeat;
  background-position: center;
}

.grid .img8 {
  background-image: url(./source/img/webp/img8.webp);
  background-repeat: no-repeat;
  background-position: center;
}

.grid .img9 {
  background-image: url(./source/img/webp/img9.webp);
  background-repeat: no-repeat;
  background-position: center;
}

.grid .img10 {
  background-image: url(./source/img/webp/img10.webp);
  background-repeat: no-repeat;
  background-position: center;
}

.grid .img11 {
  background-image: url(./source/img/webp/img11.webp);
  background-repeat: no-repeat;
  background-position: center;
}

.grid .img12 {
  background-image: url(./source/img/webp/img12.webp);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 1024px) {
  .outer_grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0,1fr));
    grid-template-rows: repeat(2, minmax(0px, 600px));
    row-gap: initial;
  }
  .inner_grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .grid * {
    width: auto;
    height: auto;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: repeat(8, minmax(100px, 1fr));
    row-gap: initial;
  }
  .grid > div:first-child {
    grid-area: 1/1/5/5;
    z-index: -99;
  }
  .grid > div:nth-child(2) {
    grid-area: 1/5/5/9;
    z-index: -99;
  }
  .grid > div:nth-child(3) {
    grid-area: 3/3/8/7;
  }
}